.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ------HighScoreTable CSS------- */
.box {
  width: 90%;
  border: 3px solid green;
  padding: 10px;
  margin: 2rem;
  font-size: 1.5rem;
  
}
.table-container {
  border: 10px solid rgb(105, 216, 26);
}
table {
  min-width: 80%;
  border: 2px solid rgb(7, 7, 7);
  margin: 2rem 0;
}
td {
  border-bottom: 2px solid rgb(51, 40, 202);
  height: 2rem;
}
.player-score {
  color: #f20808d5;
}
h1, caption {
  color:rgb(110, 103, 202)
}